<h1>Welcome to RailsBlog.com</h1>
<p>
<<<<<<< HEAD
   Hi <%= @user.username  %>, <br>
=======
  You have successfully signed up to example.com,
  your username is: <%= @user.username  %><br>
>>>>>>> a89c57d918b9371e616e68d1b10186a9ce147c1d
</p>

<p>
 You have successfully signed up to RailsBlog.com,
 </p>

  To login to the site, just follow this link: <%= @url %>

<p>Thanks for joining and have a great day!</p>
