<h1>Welcome to RailsBlog.com</h1>
<p>
   Hi <%= @subscriber.name  %>, <br>
</p>

<p>
Thanks for subscribing up to RailsBlog.com,

 </p>

  To view to the site, just follow this link: <%= @url %>

<p>Thanks for joining and have a great day!</p>
