<p style="color: green"><%= notice %></p>

<h1>All Alpha Bloggers</h1>


<% @users.each do |user| %>

<ul class="container">

<div class="center">
<div class="col-sm-4 d-block mx-auto border" style="background-color:#F5F0E1">
<br>
<%= link_to gravatar_for(user), user_path(user) %>
<div class="article-title">
<%= link_to user.username, user_path(user) %>
</div>
<small><%= pluralize(user.articles.count, "article") if user.articles %></small>
</div>

</ul>
<% end %>
</div>