
@import 'bootstrap/scss/bootstrap';  
@import "../node_modules/bootstrap/scss/bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .article-meta-details {

   border-top: 1px solid #eaeaea;
   
   margin-top: 15px;
   
   }

.abc {
   display: flex;
   column-gap: 19.5rem;
   flex-direction: row;
}
.abcd {
   display: flex;
   column-gap: 1.5rem;
   row-gap: 10px;
   flex-direction: column;
   
   
}

   

#footer1
{
   margin-bottom: 100px;
}

 #logo {

    float: left;
    
    font-size: 1.7em;
    
    color: #990011FF;
    
    text-transform: uppercase;
    
    letter-spacing: -1px;
    
    font-weight: bold;
    
    }
    
    #logo:hover {
    
    color: #fff;
    
    text-decoration: none;
    
    }
    
    .center {
    
    text-align: center;
    
    }
    
   .jumbotron {
    
    background-image: url('ror.png');
    
    background-size: cover;
    
    height: 550px;
    
    }
    
    .jumbotron h1 {
    
    color: black;
    
    text-align: center;
    
    margin-bottom: 400px;
    
    letter-spacing: -1px;
    
    font-weight: bold;

    text-transform: uppercase;
    
    }
    
    .btn-xlarge {
    
    font-size: 1.7em;
    
    background-color: black;
    
    }
    
    footer {
    
    margin-top: 15px;
    
    padding-top: 15px;
    
    
    
    color: #777;
 
    
    
    }
    
    footer a:hover {
    
    color: #222;
    
    }
    
    footer small {
    
    float: left;
    
    }
    
    footer ul {
    
    float: right;
    
    list-style: none;
    
    }
    
    footer ul li {
    
    float: left;
    
    margin-left: 15px;
    
    }
    #footer {
        position:relative;
        width:100%;
        height:50px;   /* Height of the footer */
        background-color:#990011FF;
     }

     .midd {
      margin: auto;
      width: 60%;
      padding: 10px;

    }

    h2,h1 {text-align: center;}

    .article-title {

      font-weight: bold;
      
      font-size: 1.5em;
      
      }
      
      .article-body {
      
      border-top: 1px solid #eaeaea;
      
      padding-top: 15px;
      
      padding-bottom: 15px;
      
      }

      .pagination {
         color: black;
         float: left;
         padding: 8px 16px;
         text-decoration: none;
         transition: background-color .3s;
         font-size: 22px;
       }


       .parent {
         display: flex;
         flex-wrap: wrap;
       }
       
       .child {
      
         flex: 1 0 21%;
         text-align: center;
          /* explanation below */
         margin: 15px;
         height: 650px;
         margin-bottom: 50px;
       }