<div id="footer">
  <div class="container">
    <footer class="footer">
      <small>
        Copyright <a href="https://radiant-earth-25478.herokuapp.com/" style="color:white">The Complete Ruby on Rails Developer</a>
        by <a href="#" style="color:white">Arslan Ahmad</a>
      </small>
      <nav>
      </nav>
    </footer>
  </div>
</div>
